[2013-11-11 11:24] yegor256 opened #1 "Ocket.Text should accept content type"
`Ocket.Text` should accept content type

[2013-11-11 11:29] #1 closed, assigned to nobody

[2013-12-05 19:10] yegor256 opened #2 "Bucket#list()"
Let's add new method `list()` to `Bucket` interface, which should list ockets using a prefix.

[2013-12-06 10:20] #2 closed, assigned to nobody

[2013-12-06 12:04] dmarkov opened #3 "AwsBucket.java:115-119: Large lists are not supported...."
Puzzle `2-68b8eec9` in `src/main/java/com/jcabi/s3/AwsBucket.java:115-119` has to be resolved: Large lists are not supported. The method doesn't support marker functionality, provided by ObjectListing. We should create a test that reproduces the problem and fix the method. The method should return an iterable, which should fetch portions of objects from S3 on demand.

If you have any technical que

[2013-12-15 15:37] yegor256 opened #4 "Ocket.exists()"
Let's add method `Ocket.exists()` to check for S3 object existence.

[2013-12-15 17:10] yegor256 opened #5 "Bucket.exists()"
Let's add method `Bucket.exists()` to check bucket existence

[2013-12-15 17:33] #4 closed, assigned to nobody

[2014-03-09 15:28] yegor256 opened #6 "use com.jcabi:jcabi 1.4"
let's use `com.jcabi:jcabi:1.4` as a parent `pom`

[2014-05-26 07:31] #6 closed, assigned to nobody

[2014-08-14 16:04] yegor256 opened #7 "skin 1.4"

[2014-08-15 07:44] #7 closed, assigned to nobody

[2014-11-04 18:43] yegor256 opened #8 "APT instead of MD"

[2014-11-04 19:06] #8 closed, assigned to nobody

[2014-11-20 16:29] yegor256 opened #9 "Cached Region"

[2014-11-21 08:34] #9 closed, assigned to nobody

[2014-11-23 14:57] yegor256 opened #10 "MkRegion with real files"

[2014-11-23 15:45] #10 closed, assigned to nobody

[2014-11-23 15:49] yegor256 opened #11 "MkBucket.list() removes prefixes"

[2014-11-23 16:07] #11 closed, assigned to nobody

[2014-11-23 17:01] yegor256 opened #12 "MkBucket.list() must show directories"
`MkBucket.list()` must show directories, not only files

[2014-12-04 19:45] yegor256 opened #13 "aws sdk 1.9.8"

[2014-12-04 20:16] #13 closed, assigned to nobody

[2015-01-02 10:49] darkled opened #14 "Incomplete documentation of Prefixed class"
The documentation says nothing about what for the class `com.jcabi.s3.Bucket.Prefixed` exists. I would suggest to complete the javadoc for the class.

[2015-01-02 11:29] darkled opened #16 "MkBucketTest.listsOckets fails locally"
Running `mvn clean install` locally on windows machine leads to the result:
[code]
It seems that path delimiters there are OS dependent.

[2015-01-02 11:46] darkled opened #17 "Different results of local and CI qulice invocation"
Running locally `mvn clean install -Pqulice` leads to many lines in the build log looking like
[code]

[2015-01-02 13:02] dmarkov commented on #14
we'll find someone to do this task, soon

[2015-01-02 13:02] dmarkov commented on #16
I'll find a developer for the task soon...

[2015-01-02 13:02] dmarkov commented on #17
I'm aware of the task, give me some time to find a developer...

[2015-01-02 13:06] dmarkov commented on #14
@apocarteres please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](ht

[2015-01-02 13:06] dmarkov commented on #16
@php-coder could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-01-02 13:06] dmarkov commented on #17
@palyuga please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-02 13:07] dmarkov commented on #14
@darkled thanks for reporting! I topped your account for 15 mins, transaction 49720012

[2015-01-03 16:06] darkled commented on #17
@dmarkov Within another [issue](https://github.com/jcabi/jcabi-aspects/issues/122) it was cleared, that this happens due to line endings processing by git. The solution is written in that issue's comments, therefore, I am going to close it, if you don't mind.

[2015-01-03 16:06] #17 closed

[2015-01-05 11:26] dmarkov commented on #16
@php-coder this ticket is not yours any more, thanks

[2015-01-05 11:27] dmarkov commented on #16
@darkled many thanks for the report, I topped your account for 15 mins, transaction 49762717

[2015-01-05 21:20] yegor256 commented on #5
@darkled when you complete the task, you should inform the reporter of the ticket that it's time to close it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#2.-close-it!

[2015-01-05 23:03] darkled commented on #5
@yegor256 thanks, my fault. Would you mind to close this issue, please?

[2015-01-06 11:11] dmarkov commented on #16
@adko-pl the task is yours

[2015-01-06 11:26] yegor256 commented on #5
@darkled sure, thanks!

[2015-01-06 11:26] #5 closed

[2015-01-07 10:16] dmarkov commented on #17
@palyuga I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-01-07 10:46] palyuga commented on #17
@dmarkov yep, I haven't done anything here, it's kind of duplication of the same issue in another project

[2015-01-08 09:50] dmarkov commented on #3
@cyberone you're holding this ticket for 13 days already. If it's not finished (and closed) in the next 24 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. do not forget that the ticket will be closed once the `@todo` puzzle is removed from the code, in master branch. -30 added to your rating, current score

[2015-01-08 16:35] maurezen opened #18 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-09 10:56] dmarkov commented on #3
@cyberone you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. added -60 to your rating, now it is equal to [-370](http://www.netbout.com/b/35076?open=rating)

[2015-01-09 10:56] dmarkov commented on #5
@darkled Many thanks! **30 mins** were added to your account in Transaction ID `49997558`... added +30 to your rating, now it is equal to [+45](http://www.netbout.com/b/35091?open=rating)

[2015-01-14 10:18] dmarkov commented on #3
@romankisilenko please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-14 10:18] dmarkov commented on #14
@apocarteres you're holding this task for 11 days already... -30 added to your rating, current score is: [+0](http://www.netbout.com/b/35111?open=rating)

[2015-01-14 12:13] apocarteres commented on #14
added some JavaDoc. can you merge it pls?

[2015-01-14 12:42] darkled commented on #14
@apocarteres you need to create a pull request at first. And the javadoc in dda836cb82c70ad4730b2725215cd229d9ebaf31 still does not explain what `prefix` is and why it is needed.

[2015-01-14 14:26] apocarteres commented on #14
@darkled updated JavaDoc for prefix field. check it out in my PR. Is it clearer now?

[2015-01-15 09:33] darkled commented on #14
@apocarteres I think, the field `prefix` does not need extended documentation since it is pretty self-explained, but the javadoc for the class `Prefixed` should answer the following main questions:
1. Why is this class needed?
2. What does it perform decorating `Bucket` instances?

[2015-01-15 14:02] apocarteres commented on #14
i'm sorry. It's quite obvious for me what <code>Prefixed</code> class does do. It's also clear that it uses <code>prefix</code> field to do it's logic, so i clarified with JavaDoc comment on <code>prefix</code> field to be more confident why that's where. If not's enough, i can't help you with this task anymore.

@dmarkov pls find someone else to get this issue done.

[2015-01-15 15:38] adko-pl commented on #16
@dmarkov changes delivered in https://github.com/jcabi/jcabi-s3/pull/20

[2015-01-21 16:23] apocarteres commented on #14
@darkled Please check last PR

[2015-01-21 22:50] maurezen opened #22 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-21 22:50] yegor256 commented on #22
there is no urgency in this upgrade

[2015-01-21 22:50] #22 closed

[2015-01-22 13:18] dmarkov commented on #14
@apocarteres you were holding this task for too long, it's not yours any more, please stop

-60 added to your rating, at the moment it is: [+15](http://www.netbout.com/b/35111?open=rating)

[2015-01-25 14:03] darkled commented on #16
@adko-pl it's working now, thanks!

[2015-01-25 14:03] #16 closed

[2015-01-27 08:04] dmarkov commented on #3
@romankisilenko just a reminder that you're working with this task for 15 days already. do not forget that you should remove the `@todo` puzzle from the source code. -30 added to your rating, current score is: +420

[2015-01-27 11:03] dmarkov commented on #16
@adko-pl thank you, added **30 mins** to your acc, payment num is `AP-6YA29884FW533194K`... +30 to your rating, your total score is +125

[2015-01-28 09:10] dmarkov commented on #14
@maurezen the issue is yours, please help

[2015-02-01 15:30] RomanKisilenko commented on #3
@dmarkov PR https://github.com/jcabi/jcabi-s3/pull/21 was reviewed and closed, please close this issue as well.

[2015-02-01 21:34] maurezen commented on #14
@dmarkov created a pull request #23

[2015-02-02 09:32] dmarkov commented on #3
@romankisilenko please stop here, the task is not yours any more. -60 to your rating, your total score is +330

[2015-02-02 09:35] RomanKisilenko commented on #3
@dmarkov Why the task is not closed and instead I'm penalized? I think there is some kind of error. Could you please close this task and pay for it.

[2015-02-02 09:58] yegor256 commented on #3
@dmarkov please add extra 30 mins to @RomanKisilenko

[2015-02-02 22:49] maurezen commented on #14
@darkled pull request #23 merged to master, please close the issue.

[2015-02-03 07:16] darkled commented on #14
@maurezen looks nice, thanks!

[2015-02-03 07:16] #14 closed

[2015-02-05 11:50] maurezen commented on #14
@dmarkov the task is already closed.

[2015-02-06 07:15] dmarkov commented on #3
@yegor256 30 mins extra was just paid to @romankisilenko, transaction `51287967`

[2015-02-07 20:48] maurezen commented on #14
@dmarkov @yegor256  the task was closed 5 days ago.

[2015-02-09 08:46] dmarkov commented on #3
We're done here, thanks all

[2015-02-09 08:46] #3 closed

[2015-02-10 07:56] dmarkov commented on #14
@maurezen **30 mins** added to your account (payment number `51519684`), many thanks for your contribution!. +30 added to your rating, at the moment it is: [+1095](http://www.netbout.com/b/35102?open=rating)

[2015-02-25 07:21] dmarkov commented on #12
@yegor256 right, I added the `bug` tag

[2015-02-26 07:48] dmarkov commented on #12
I will find a developer for the task soon...

[2015-02-26 07:50] dmarkov commented on #12
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-a58ac766

[2015-03-05 02:48] darkled opened #24 "Update AWS SDK version"
AWS SDK 1.7.13 is almost one year old. I suggest to update it to the latest one.

[2015-03-12 09:25] dmarkov commented on #2
the last puzzle `2-68b8eec9`/#3 originated from here solved

[2015-03-26 03:01] carlosmiranda opened #25 "MkOcket should return some meaningful ObjectMetadata"
Right now, `MkOcket.meta()` just returns a new instance of `ObjectMetadata`. However, it would be useful for `ObjectMetadata` to return some meaningful (and commonly used) data.

For example, `contentLength` would be useful when I need to test a class which needs to get the total size of a bucket (like in https://github.com/teamed/nerodesk/issues/131). I suggest we start with adding `contentLength

[2015-03-26 07:12] dmarkov commented on #25
I will ask someone to take care of this task soon

[2015-03-26 07:14] dmarkov commented on #25
@maurezen it's yours, please help, budget is 30 mins

[2015-03-26 07:15] dmarkov commented on #25
@carlosmiranda thank you for reporting this, I added 15 mins to your acc, transaction `54208972`

[2015-03-30 22:24] maurezen commented on #25
@dmarkov please assign another developer to this task.

[2015-03-31 04:19] yegor256 commented on #25
@dmarkov assign someone else pls

[2015-03-31 07:50] dmarkov commented on #25
@maurezen no problem, I will try to find somebody else

[2015-03-31 07:50] dmarkov commented on #25
@yegor256 no problem, I will try to find somebody else

[2015-04-07 07:36] dmarkov opened #26 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:56] dmarkov opened #27 "0.10"
Please, publish a new release **0.10** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 12:56] dmarkov opened #28 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-29 11:04] krzyk opened #29 "Missing multi part upload"
Right now jcabi-s3 doesn't have multi part upload feature (see http://docs.aws.amazon.com/AmazonS3/latest/dev/uploadobjusingmpu.html for reference).
It prohibits uploading of large files, as they have to be buffered in memory (to calculate file size) before being uploaded to S3.

[2015-04-29 19:07] longtimeago commented on #25
@yegor256 can we dispatch the issue? It's a blocker for another one

[2015-04-30 07:03] dmarkov commented on #25
@longtimeago it's your task now, go ahead

[2015-04-30 07:36] longtimeago commented on #25
@yegor256 sorry, but as I said several days ago, I'm on business trip from 29 Apr to 13 May.
So, please, reassign the task to somebody else. Thank you

[2015-04-30 19:35] yegor256 commented on #25
@dmarkov assign this to someone else pls

[2015-05-01 07:07] dmarkov commented on #25
@yegor256 30 points deducted from your rating

[2015-05-01 07:07] dmarkov commented on #25
@yegor256 all right, we'll find someone else for this task

[2015-05-12 07:26] dmarkov commented on #27
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 07:41] dmarkov commented on #27
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-20 07:17] dmarkov commented on #12
@super132 it's yours, please go ahead

[2015-05-20 07:17] dmarkov commented on #25
@yamstranger it's your task, go ahead

[2015-05-26 02:56] super132 commented on #12
@yegor256 PR #30 fixed this issue. Would you please close this ticket? Thanks.

[2015-05-26 02:59] yegor256 commented on #24
@darkled fixed in e7189ec thanks!

[2015-05-26 02:59] #24 closed

[2015-05-26 03:00] yegor256 commented on #18
@maurezen fixed in 126590a thanks!

[2015-05-26 03:00] #18 closed

[2015-05-26 03:02] yegor256 commented on #24
@rultor release, tag is `0.10`

[2015-05-26 03:02] rultor commented on #24
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3906-105372284)

[2015-05-26 03:09] rultor commented on #24
Release `0.10` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-26 03:09] rultor commented on #24
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3906-105372284) (took me 6min)

[2015-05-26 06:02] yegor256 commented on #12
@super132 thanks!

[2015-05-26 06:02] #12 closed

[2015-05-26 07:19] dmarkov commented on #29
@krzyk we will find someone to do this task, soon

[2015-05-26 07:19] dmarkov opened #31 "0.11"
Please, publish a new release **0.11** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-05-26 07:20] dmarkov commented on #29
@krzyk thank you for the ticket reported, I topped your account for 15 mins, transaction `58052960`

[2015-05-26 13:31] dmzaytsev commented on #25
@yamstranger please implement also these attributes: `ContentType` and `Date`

[2015-05-27 08:27] dmarkov commented on #27
@yegor256 Done, thanks all, closing..

[2015-05-27 08:27] #27 closed

[2015-05-27 08:29] dmarkov commented on #12
@super132 thanks, I just added **30 mins** to your account, payment `AP-8LR27509N4899350T`, 144 hours and 3 mins spent. +30 to your rating, your total score is [+211](http://www.netbout.com/b/35282?open=rating)

[2015-05-28 05:52] YamStranger commented on #25
@dmarkov assign to someone else. Sorry.  It seems I was in @away mode when this task was assigned. @yegor256 can you check it please? Thanks.

[2015-05-28 07:36] dmarkov commented on #25
@yamstranger deducted 30 from your rating :(

[2015-05-28 07:36] dmarkov commented on #25
@yamstranger someone else will help in this task, no problem at all

[2015-06-01 07:35] dmarkov commented on #28
@yegor256 Thanks all, closed

[2015-06-01 07:35] #28 closed

[2015-06-02 07:03] dmarkov commented on #26
@suseika This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-06-02 09:18] Suseika commented on #26
@dmarkov Here is a step from the estimating explanation that I don't understand:

How exactly am I supposed to find out the items for a project? Should I just summarize my estimation of time required to fix the existing issues? Apart from the issues, the project looks quite done for me, I don't see any "planned features" list (I shouldn't just invent them myself, right?). The readme for est utilit

[2015-06-02 09:21] Suseika commented on #26
@dmarkov Another thing is, how should I deliver the estimation? Should I push the .est file to the project repository? If I should push it to the project repository, is there a specific path it should reside at (root directory, /doc directory, somewhere else)?

[2015-06-02 21:02] yegor256 commented on #26
@Suseika this may help you as an example: https://github.com/yegor256/netbout/issues/576

[2015-06-02 21:07] Suseika commented on #26
@yegor256 Thank you, that was helpful, as well as searching for similar issues in jcabi projects.

[2015-06-03 12:44] Suseika commented on #26
@dmarkov #32 closes this, please review it and close this issue if the PR is correct.

[2015-06-05 07:38] dmarkov commented on #26
@rultor I will close it myself, once it gets out of our backlog

[2015-06-05 07:38] dmarkov commented on #31
@yegor256 Closing this issue now...

[2015-06-05 07:38] #31 closed

[2015-06-05 07:40] dmarkov commented on #26
@suseika thanks, paid, **30 mins** to your account, payment ID is `AP-9BD96466WY609854Y`, task took 48 hours and 5 mins to complete. +30 to your rating, your total score is [+30](http://www.netbout.com/b/35381?open=rating)

[2015-06-08 07:13] #26 closed

[2015-06-08 07:13] dmarkov commented on #26
@yegor256 Closing, thanks all

[2015-06-08 17:32] dmzaytsev opened #33 "partial download not implemented"
At the moment jcabi-s3 doesn't support retrieve object in parts (see http://docs.aws.amazon.com/AmazonS3/latest/dev/GettingObjectsUsingAPIs.html  for reference). This option will give the possibility to organize multithreaded downloading a file. It will performance benefits for large files

[2015-06-10 10:48] YamStranger opened #34 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-15 07:39] dmarkov commented on #33
@yegor256 please pay attention to this issue

[2015-06-15 07:39] dmarkov commented on #34
@yegor256 dispatch this issue please

[2015-06-16 22:27] YamStranger commented on #34
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-09-11 07:03] dmarkov commented on #29
@yamstranger the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [

[2015-09-15 07:19] YamStranger commented on #29
@dmarkov please assign to reviewer. Thanks

[2015-09-15 10:59] dmarkov commented on #29
@yamstranger np :)

[2015-09-18 05:04] YamStranger commented on #29
@dmarkov Is this issue fixed?

[2015-09-18 16:21] YamStranger commented on #29
@dmarkov It seems that PR #35 for this issue already merged, so it can be closed?

[2015-09-18 16:42] krzyk commented on #29
@YamStranger you have to ask issue creator for closing, so in this case me :), let me check the changes and I'll close

[2015-09-18 16:44] YamStranger commented on #29
@krzyk Thanks

[2015-09-18 18:43] #29 closed

[2015-09-21 09:28] dmarkov commented on #29
@yamstranger you should ask @krzyk, he is the author of the ticket

[2015-09-21 12:28] YamStranger commented on #29
@dmarkov, @krzyk closed it three days ago

[2015-09-22 10:04] dmarkov commented on #29
@yamstranger **30 mins** sent to your balance (ID `65747135`), many thanks! It took 242 hours and 26 mins.... added +30 to your rating, now it is equal to [-30](http://www.netbout.com/b/35267?open=rating)

[2015-09-22 10:09] YamStranger commented on #29
@dmarkov Thanks!!!!

[2015-09-22 12:20] dmarkov commented on #29
@yamstranger no problem ;)

[2015-09-23 07:55] dmarkov commented on #25
@prondzyn this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-09-23 21:12] prondzyn commented on #25
@dmarkov pull request prepared

[2015-09-24 11:23] dmarkov commented on #25
@prondzyn thanks, will someone to review it soon

[2015-09-28 20:41] prondzyn commented on #25
@dmarkov my changes are merged with [jcabi/jcabi-s3](https://github.com/jcabi/jcabi-s3)

[2015-09-29 00:49] carlosmiranda commented on #25
@prondzyn thanks

[2015-09-29 00:49] #25 closed

[2015-09-30 07:47] dmarkov commented on #25
@prondzyn paid, thanks, added **30 mins** to your account, payment `AP-78F44551AM6728156`, 143 hours and 21 mins was spent; +30 to your rating, your total score is [+30](http://www.netbout.com/b/35715?open=rating)

[2015-10-20 02:29] yegor256 opened #38 "AwsOcket exceptions are not verbose enough"

[2015-10-20 02:29] #38 closed

[2015-10-20 02:38] yegor256 commented on #38
@rultor release, tag is `0.11`

[2015-10-20 02:39] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5516-149410610)

[2015-10-20 02:47] rultor commented on #38
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5516-149410610) (took me 7min)

[2015-10-20 03:09] yegor256 opened #39 "Bucket.Prefixed fails with out of bound exception"
This code:

[code]

Causes:

[code]

[2015-10-20 03:15] yegor256 commented on #39
@rultor release, tag is `0.11.1`

[2015-10-20 03:16] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5517-149415567)

[2015-10-20 03:23] rultor commented on #39
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5517-149415567) (took me 7min)

[2015-10-20 03:23] #39 closed

[2015-10-20 20:26] yegor256 opened #40 "AwsOcket.meta() must throw OcketNotFoundException if it's absent"

[2015-10-20 20:26] #40 closed

[2015-10-20 20:31] yegor256 commented on #40
@rultor release, tag is `0.11.2`

[2015-10-20 20:32] rultor commented on #40
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5527-149693356)

[2015-10-20 20:38] rultor commented on #40
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5527-149693356) (took me 6min)

[2015-12-08 20:41] yegor256 opened #41 "write() doesn't close TransferManager"

[2015-12-08 20:41] #41 closed

[2015-12-08 20:48] yegor256 commented on #41
@rultor release, tag is `0.11.3`

[2015-12-08 20:49] rultor commented on #41
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5874-163013628)

[2015-12-08 20:50] rultor commented on #41
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5874-163013628) (spent 1min)

[code]

[2015-12-08 20:52] yegor256 commented on #41
@rultor release, tag is `0.11.3`

[2015-12-08 20:52] rultor commented on #41
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5874-163014452)

[2015-12-08 20:56] rultor commented on #41
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5874-163014452) (took me 4min)

[2015-12-09 05:56] yegor256 opened #42 "com.amazonaws.AbortedException"
After the changes in #41 `AwsOcket#write()` doesn't work:

[code]

[2015-12-09 05:57] #42 closed

[2015-12-09 06:05] yegor256 commented on #42
@rultor release, tag is `0.11.4`

[2015-12-09 06:06] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5880-163120344)

[2015-12-09 06:12] rultor commented on #42
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5880-163120344) (spent 6min)

[code]

[2015-12-09 06:14] yegor256 commented on #42
@rultor release, tag is `0.11.4`

[2015-12-09 06:15] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5880-163121738)

[2015-12-09 06:30] rultor commented on #42
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5880-163121738) (took me 15min)

[2016-04-05 00:50] yegor256 opened #44 "get rid of validation API"
Let's get rid of it

[2016-04-05 01:11] yegor256 commented on #44
@rultor release, tag is `0.11.5`

[2016-04-05 01:12] rultor commented on #44
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7977-205571931)

[2016-04-05 01:27] rultor commented on #44
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7977-205571931) (took me 14min)

[2016-04-05 01:31] #44 closed

[2016-11-18 04:07] Lewiscowles1986 opened #45 "S3-compatible API's not supported"
S3 is actually supported by non-amazon service providers including `dreamobjects`, ceph (with addons), and riak.

It would be really nice to be able to connect to non-amazon URL's

#### AWS S3 connection using another provider (mDNS avahi entry used)
[code]

[2016-11-21 08:20] dmarkov commented on #45
@yegor256 please dispatch this issue

[2016-11-21 08:35] Lewiscowles1986 commented on #45
I'm interested for now to find if this is something @yegor256 thinks would work with this. I Can write the small one or two line change. What I would be concerned about is the implications for the framework to incorporate.

[2016-11-22 05:51] yegor256 commented on #45
@Lewiscowles1986 this is a nice idea, thanks for reporting. I will try to implement it soon

[2017-01-04 10:13] yegor256 opened #46 "Ocket.None"
Let's create it

[2017-01-04 10:16] yegor256 commented on #46
@rultor release, tag is `0.12`

[2017-01-04 10:16] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10500-270338005)

[2017-01-04 10:22] rultor commented on #46
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10500-270338005) (spent 6min)

[code]

[2017-01-04 12:05] yegor256 commented on #46
@rultor release, tag is `0.12`

[2017-01-04 12:06] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10500-270356554)

[2017-01-04 12:20] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10500-270356554) (took me 14min)

[2017-01-25 20:16] yegor256 opened #47 "MkOcket.meta() is not complete"

[2017-01-25 20:41] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-25 20:42] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275226822)

[2017-01-25 20:44] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10725-275226822) (spent 1min)

[code]

[2017-01-25 20:48] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-25 20:49] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275228483)

[2017-01-25 20:52] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10725-275228483) (spent 3min)

[code]

[2017-01-25 20:57] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-25 20:57] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275230555)

[2017-01-25 21:00] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10725-275230555) (spent 3min)

[code]

[2017-01-25 21:01] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-25 21:02] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275231640)

[2017-01-25 21:07] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10725-275231640) (spent 5min)

[code]

[2017-01-25 21:12] 0pdd opened #48 "pom.xml:160-162: For some reason this profile doesn't wor..."
The puzzle `47-51f62688` in `pom.xml` (lines 160-162) has to be resolved: For some reason this profile doesn't work any more. Most probably because of the absence of Cobertura. Let's configure it properly, so that it works with Jacocco.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 25-Jan-17.

Estimate: 30 minutes, role: IMP.

If you have any technica

[2017-01-25 21:12] 0crat commented on #48
@yegor256 please, pay attention to this issue

[2017-01-25 21:12] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-25 21:13] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275234359)

[2017-01-25 21:20] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10725-275234359) (spent 7min)

[code]

[2017-01-26 07:47] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-26 07:48] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275326362)

[2017-01-26 07:54] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10725-275326362) (spent 6min)

[code]

[2017-01-26 09:12] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-26 09:13] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275340210)

[2017-01-26 09:19] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10725-275340210) (spent 6min)

[code]

[2017-01-26 13:26] yegor256 commented on #47
@rultor release, tag is `0.13`

[2017-01-26 13:27] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10725-275387579)

[2017-01-26 13:40] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10725-275387579) (took me 13min)

[2017-01-26 13:41] #47 closed

[2017-01-26 13:41] 0crat commented on #47
Job "gh:jcabi/jcabi-s3#47" is not in scope

[2017-01-27 09:34] yegor256 commented on #48
@0crat in

[2017-01-27 09:34] 0crat commented on #48
Done, job `gh:jcabi/jcabi-s3#48` is in scope of "C3RUBL5H9"

[2017-01-31 13:40] yegor256 opened #49 "MkOcket.meta() lastModifiedDate is not correct"
after #47. Let's set it to real date of the file.

[2017-01-31 13:43] yegor256 commented on #49
@rultor release, tag is `0.14`

[2017-01-31 13:44] rultor commented on #49
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10784-276365997)

[2017-01-31 13:59] rultor commented on #49
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10784-276365997) (took me 15min)

[2017-01-31 14:02] #49 closed

[2017-02-03 10:33] yegor256 opened #50 "FkOcket.file() must be public"

[2017-02-03 10:39] yegor256 commented on #50
@rultor release, tag is `0.15`

[2017-02-03 10:39] rultor commented on #50
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10823-277216734)

[2017-02-03 10:53] rultor commented on #50
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10823-277216734) (took me 13min)

[2017-02-03 10:57] #50 closed

[2017-03-27 13:32] yegor256 opened #52 "toString is not informative"

[2017-03-27 14:20] yegor256 commented on #52
@rultor release, tag is `0.15.1`

[2017-03-27 14:21] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11246-289468261)

[2017-03-27 14:24] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11246-289468261) (spent 3min)

[code]

[2017-03-27 14:32] yegor256 commented on #52
@rultor release, tag is `0.15.1`

[2017-03-27 14:33] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11246-289471959)

[2017-03-27 14:35] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11246-289471959) (spent 2min)

[code]

[2017-03-27 14:53] yegor256 commented on #52
@rultor release, tag is `0.15.1`

[2017-03-27 14:53] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11246-289478302)

[2017-03-27 15:06] rultor commented on #52
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11246-289478302) (took me 13min)

[2017-03-27 15:09] #52 closed

[2017-08-14 15:30] yegor256 commented on #45
@0crat in

[2017-08-14 15:30] yegor256 commented on #34
@0crat in

[2017-08-14 15:30] yegor256 commented on #33
@0crat in

[2017-08-14 15:30] 0crat commented on #45
@yegor256 Job `gh:jcabi/jcabi-s3#45` is in scope.

[2017-08-14 15:30] yegor256 opened #53 "CdOcket.meta() must be cacheable too"
`CdOcket.meta()` must be cacheable too.

[2017-08-14 15:31] yegor256 commented on #53
@0crat assign me

[2017-08-14 15:31] 0crat commented on #33
@yegor256 Job `gh:jcabi/jcabi-s3#33` is in scope.

[2017-08-14 15:34] 0crat commented on #53
@yegor256 Job `gh:jcabi/jcabi-s3#53` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 15:34] 0crat commented on #53
+15 points just awarded to @yegor256, total is [+1710](http://www.0crat.com/u/yegor256).

[2017-08-14 15:41] yegor256 commented on #53
@rultor release, tag is `0.16`

[2017-08-14 15:42] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12675-322225865)

[2017-08-14 16:15] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12675-322225865) (took me 32min)

[2017-08-14 16:16] #53 closed

[2017-08-14 16:16] 0crat commented on #53
Job `gh:jcabi/jcabi-s3#53` is now out of scope.

[2017-08-14 16:16] 0crat commented on #53
+30 points just awarded to @yegor256, total is [+1755](http://www.0crat.com/u/yegor256).

[2017-09-05 12:19] yegor256 opened #54 "FkRegion/FkBucket with default temp dir"
Let's make it default

[2017-09-05 12:24] 0crat commented on #54
Job `gh:jcabi/jcabi-s3#54` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-05 12:24] 0crat commented on #54
+15 points just awarded to @yegor256, total is [+2970](http://www.0crat.com/u/yegor256).

[2017-09-05 12:38] #48 closed

[2017-09-05 12:38] 0pdd commented on #48
The puzzle `47-51f62688` has disappeared from the source code, that's why I closed this issue.

[2017-09-05 12:47] yegor256 commented on #54
@rultor release, tag is `0.17`

[2017-09-05 12:48] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12910-327164601)

[2017-09-05 12:58] rultor commented on #54
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12910-327164601) (spent 11min)

[code]

[2017-09-05 13:06] yegor256 commented on #54
@rultor release, tag is `0.17`

[2017-09-05 13:07] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12910-327169139)

[2017-09-05 13:18] rultor commented on #54
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12910-327169139) (spent 11min)

[code]

[2017-09-05 13:22] yegor256 commented on #54
@rultor release, tag is `0.17`

[2017-09-05 13:22] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12910-327173332)

[2017-09-05 13:53] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12910-327173332) (took me 30min)

[2017-09-05 13:53] #54 closed

[2017-09-05 13:53] 0crat commented on #54
Job `gh:jcabi/jcabi-s3#54` is now out of scope.

[2017-09-05 13:53] 0crat commented on #54
+30 points just awarded to @yegor256, total is [+3030](http://www.0crat.com/u/yegor256).

[2017-09-26 10:00] yegor256 opened #55 "toString for fake classes"
Let's add them

[2017-09-26 10:01] yegor256 commented on #55
@rultor release, tag is `0.17.1`

[2017-09-26 10:02] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13015-332150002)

[2017-09-26 10:28] rultor commented on #55
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13015-332150002) (took me 25min)

[2017-09-26 10:43] #55 closed

[2017-09-26 10:43] 0crat commented on #55
Oops! Job `gh:jcabi/jcabi-s3#55` was not in scope

[2017-10-11 14:39] yegor256 opened #56 "enable custom Amazon S3 client config"
Let's make it possible

[2017-10-11 14:40] 0crat commented on #56
Job `gh:jcabi/jcabi-s3#56` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-11 14:40] 0crat commented on #56
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+3910](http://www.0crat.com/u/yegor256).

[2017-10-11 14:40] 0crat commented on #56
Job `gh:jcabi/jcabi-s3#56` is already assigned to @yegor256, sorry.

[2017-10-11 14:41] 0crat commented on #56
Bug was reported: +15 points just awarded to @yegor256, total is [+3925](http://www.0crat.com/u/yegor256).

[2017-10-11 14:46] yegor256 commented on #56
@rultor release, tag is `0.18`

[2017-10-11 14:48] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13125-335835594)

[2017-10-11 15:02] rultor commented on #56
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13125-335835594) (spent 14min)

[code]

[2017-10-11 16:04] yegor256 commented on #56
@rultor release, tag is `0.18`

[2017-10-11 16:10] yegor256 commented on #56
@rultor release, tag is `0.18`

[2017-10-11 16:12] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13125-335862542)

[2017-10-11 16:41] rultor commented on #56
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13125-335862542) (took me 28min)

[2017-10-11 16:42] #56 closed

[2017-10-11 16:43] 0crat commented on #56
Job `gh:jcabi/jcabi-s3#56` is now out of scope.

[2017-10-11 16:43] 0crat commented on #56
Order was successfully finished: +30 points just awarded to @yegor256, total is [+3955](http://www.0crat.com/u/yegor256).

[2018-01-08 21:20] 0crat commented on #45
Job `gh:jcabi/jcabi-s3#45` assigned to [@t-izbassar](http://www.0crat.com/u/t-izbassar}). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](h

[2018-01-13 21:36] 0crat commented on #45
[@t-izbassar](http://www.0crat.com/u/t-izbassar) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-16 21:30] 0crat commented on #45
@t-izbassar[/z](http://www.0crat.com/u/t-izbassar) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-21 05:28] 0crat commented on #45
The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#45](https://github.com/jcabi/jcabi-s3/issues/45), please stop working

[2018-04-12 01:36] 0crat commented on #45
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 01:36] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 03:36] 0crat commented on #45
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 03:36] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-18 14:53] yegor256 commented on #45
@Lewiscowles1986 it seems that it should work already, out of the box. Did you try?

[2018-04-18 16:02] Lewiscowles1986 commented on #45
Yes, it was a very long time ago now 2016, so retry?

[2018-04-22 05:36] 0crat commented on #45
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-22 05:36] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-23 10:51] yegor256 commented on #33
@0crat out

[2018-04-23 10:59] yegor256 commented on #45
@0crat out

[2018-04-23 10:59] 0crat commented on #45
@yegor256 GitHub issue is still open, won't close

[2018-04-27 11:36] 0crat commented on #45
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-04-27 11:36] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-02 21:36] 0crat commented on #45
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-02 21:36] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-03 10:58] Lewiscowles1986 commented on #45
Looks fixed

### Original test

[code]

### Shorter syntax

[code]

then

[code]

Works just fine. Thanks :+1:

[2018-05-03 10:58] #45 closed

[2018-05-03 11:00] Lewiscowles1986 commented on #45
Let me know if there is a wiki or docs where you'd like this information, or if you'd like a test

[2018-05-03 11:14] 0crat commented on #45
The job [#45](https://github.com/jcabi/jcabi-s3/issues/45) is now out of scope

[2018-05-06 05:08] yegor256 commented on #33
@0crat out

[2018-05-07 23:37] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-13 03:37] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-14 13:34] yegor256 commented on #33
@0crat out

[2018-05-18 04:36] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at [#33](https://github.com/jcabi/jcabi-s3/issues/33); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-23 05:36] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#33](https://github.com/jcabi/jcabi-s3/issues/33); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in

[2018-05-25 16:09] yegor256 commented on #33
@0crat out

[2018-05-25 16:09] 0crat commented on #33
@yegor256 The job [#33](https://github.com/jcabi/jcabi-s3/issues/33) is now out of scope

[2018-05-25 16:09] 0crat commented on #33
@yegor256 The job is not in WBS, won't close the order

[2018-05-25 16:09] 0crat commented on #33
@yegor256 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1451611352, Type: "Close job", Author: "yegor256"

[2022-08-05 03:49] yegor256 opened #62 "fresh release"

[2022-08-05 04:05] yegor256 commented on #62
@rultor release, tag is `0.19.0`

[2022-08-05 04:06] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26428-1206018526)

[2022-08-05 04:20] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26428-1206018526) (took me 14min)

[2022-08-05 05:02] #62 closed

[2022-08-05 05:19] 0crat commented on #62
Job `gh:jcabi/jcabi-s3#62` is not assigned, can't get performer

[2022-09-26 06:30] renovate[bot] opened #67 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency junit:junit to v4.13.2
 - [ ] Update dependency org.slf4j:slf4j-log4j12 to v2.0.2
 - [ ] Upd